.h1-about {
    font-size: 3rem;
    margin: 0 0 50px 0;
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    a {
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 0.5mm;
    }
}

.contact-btn {
    display: flex;
    /* flex-direction: row; */
    gap: 50px;
}

.contact-btn > .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    background-color: aliceblue;
}

.a-propos-section {
    background-color: #00000065;
    width: 1000px;
    padding: 80px;
    border-radius: 15px;
    color: white;
    z-index: 2;
    margin: auto;
    margin-top: 100px;
    overflow-y: scroll;
    height: 80vh;

    p,
    li {
        font-size: 1.2rem;
    }
}

.h2-about {
    font-size: 1.6rem;
    margin: 20px;
    margin-top: 60px;
    text-align: center;
    /* margin-top:50px; */
}

.ul-li-about {
    margin-left: 100px;
}

.h3-about {
    margin: 10px;
    margin-top: 20px;
}

.btn-to-codewars {
    margin-top: 10px;
    text-align: center;
    font-size: 1.5rem;

    a {
        text-decoration: none;
        border: 2px solid grey;
        border-radius: 2px;
        width: 225px;
        padding: 10px;
        display: inline-block;
        cursor: pointer;
        color: black;
        background-color: rgba(255, 0, 0, 0.675);
        transition: 300ms;
    }

    a:hover {
        transition: 300ms;
        background-color: red;
        transform: scale(1.2);
    }
}

.a-btn-about > .btn {
    width: 200px;
}

.btn > a {
    font-weight: 700;
    /* font-size: 1rem; */
}

@media (max-width: 480px) {
    .h1-about {
        font-size: 2rem;
    }

    .a-propos-section {
        width: 90vw;
        padding: 0 5px 0 10px;
        margin-top: 30px;
        height: 90vh;
    }

    .a-btn-about {
        margin-top: 40px;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .a-btn-about > .btn > p {
        font-size: 0.7rem;
    }
}
