.section-btn {
    display: flex;
    gap: 150px;
    margin-top: 80px;
    max-width: 70%;
}

.btn {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    transition: all 0.2s;
    transform: scale(1.2);
    background-color: rgba(0, 0, 0, 0.8);
}

.btn:not(:hover) {
    transition: all 0.2s;
    transform: scale(1);
}

.btn > p {
    z-index: 2;
    font-size: large;
    color: white;
}

.a-btn {
    text-decoration: none;
}

.btn > img {
    position: absolute;
    margin-top: 40px;
}

.btn-img-1 {
    transition: all 1s;
    height: 0px;
    animation: 3s fleche infinite 6s;
}

.btn-img-2 {
    height: 0px;
    animation: 5s fleche infinite 6s;
}

@keyframes fleche {
    0% {
        transform: translatey(0px);
        height: 35px;
    }
    15% {
        transform: translatey(-5px);
        height: 35px;
    }
    35% {
        transform: translatey(10px);
        height: 45px;
    }

    100% {
        height: 30px;
        transform: translatey(0px);
    }
}


@media (max-width: 380px) {
    .section-btn {
        gap: 5px;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .btn{
        width: 100px;
        height: 30px;
    }

    .btn > p {
        font-size: 0.5rem;
    }

}