.h1-code-wars {
    padding: 30px;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 3px black;
}

.navlink-codewars {
    text-decoration: none;
}

.titre-table-codewars {
    color: white;
}

.container-table_codewars {
    cursor: url("./public/images/cursor.cur") 0 0, pointer;
    margin: auto;
    height: 70vh;
    width: 900px;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 10px;
    z-index: 1;
}

.table-codewars {
    margin: auto;
    background-color: rgba(90, 21, 3, 0.781);
    border-radius: 10px;
    z-index: 5;
}

.th-codewars {
    padding: 10px;
    text-align: start;
    font-weight: 200;
    color: white;
}

.js{
    color:yellow;
}

.ts{
    color: rgb(2, 196, 255);
}

.section-donnee-codewars {
    position: fixed;
    bottom: 0;
    /* background-color: rgba(0, 0, 0, 0.301); */
    color: white;
    padding: 3px 10px 0 5px;
}

.span-codewars {
    position: fixed;
    top: 50vh;
    left: 5vw;
    font-size: 1.5rem;
    padding: 4px;
    letter-spacing: 1px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    border-radius: inherit;
    animation:  retour 800ms ease;
}

.video_codewars {
    z-index: -1;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: contain;
    background-position: center center;
    background-size: contain;
}

@keyframes retour {
    0% {
        transform: translateY(500px);
        color: rgba(255, 255, 255, 0);
    }
    
    70%{
        transform: translateY(50px);
        color: rgba(255, 255, 255, 0);
    }

    100% {
        color: white;
        transform: translateY(0);
    }
}

