.div-h1{
    margin-top:10px;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.h1-code-wars {
    padding: 5px;
    background-color: rgba(90, 21, 3, 0.781);
    border-radius: 10px;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 3px black;
    width: 200px;
    margin-top:10px
}

.navlink-codewars {
    text-decoration: none;
}

.titre-table-codewars {
    color: white;
}

.container-table_codewars {
    cursor: url("/images/cursor.cur") 0 0, pointer;
    margin: auto;
    margin-top: 75px;
    height: 70vh;
    width: 900px;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 10px;
    z-index: 1;
}

.table-codewars {
    margin: auto;
    background-color: rgba(90, 21, 3, 0.781);
    border-radius: 10px;
    z-index: 5;
}

.th-codewars {
    padding: 10px;
    text-align: start;
    font-weight: 200;
    color: white;
}

.js {
    color: yellow;
}

.ts {
    color: rgb(2, 196, 255);
}

.section-donnee-codewars {
    position: fixed;
    bottom: 0;
    color: rgba(253, 253, 5, 0.986);
    padding: 3px 10px 0 5px;
}

.span-codewars {
    position: fixed;
    top: 50vh;
    left: 5vw;
    font-size: 1.5rem;
    padding: 4px;
    letter-spacing: 1px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    border-radius: inherit;
    animation: retour 800ms ease;
}

.video_codewars {
    z-index: -1;
    position: fixed;
    object-fit: contain;
    min-height: 100vh;
    min-width:100Vw;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: contain;
    background-position: center center;
    background-size: contain;
}

@keyframes retour {
    0% {
        transform: translateY(500px);
        color: rgba(255, 255, 255, 0);
    }

    70% {
        transform: translateY(50px);
        color: rgba(255, 255, 255, 0);
    }

    100% {
        color: white;
        transform: translateY(0);
    }
}

@media (max-width: 480px) {
    .h1-code-wars{
        position: absolute;

    }

    .container-table_codewars{
        margin-top: 75px;
        padding: 20px;
        height: 60vh;
    }

    .page-codewars {
        overflow-y: hidden;
        /* overflow-x: scroll; */

    }

    .video_codewars {
        object-fit: cover;
        height: 100vh;
    }

    .span-codewars {
        width: 100vw;
        position: fixed;
        text-align: center;
        top: 75vh;
        font-size: 1.5rem;
        padding: 4px;
        letter-spacing: 1px;
        font-weight: 600;
        text-decoration: none;
        color: white;
        border-radius: 15px;
        border-radius: inherit;
        animation: retour 800ms ease;
    }
}
