
.h1-code-wars{
    padding: 30px;
    text-align: center;
    text-decoration: none;
}

.active{
    text-decoration: none;
}

.container-table_codewars{
    margin: auto;
    height: 70vh;
    width: 900px;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 10px;

}

.table-codewars{
    margin: auto ;
    background-color: rgba(90, 21, 3, 0.781);
    border: 1px solid black;
    border-radius: 10px;
}

.th-codewars{
    padding: 10px;
    text-align: start;
    font-weight: 200;
    color: white;
}

.video_codewars {
    z-index: -1;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: contain;
    background-color: 
  black;
    /* background-image: "../assets/images/codewars-video.mp4"  Ici, notre vidéo; */
    background-position: center center;
    background-size: contain;
  }