.header-home{
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-stack{
    width: 60%;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
}