.body-home {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    /* background: linear-gradient(243deg, #100075 10.97%, #480101 79.48%); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.h1-home {
    position: relative;
    border-radius: 5px;
    padding: 20px;
    font-size: 50px;
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 7px;
    text-transform: uppercase;
    padding: 64px;
    background: linear-gradient(
        to right,
        hsl(0, 0%, 98%) 0,
        rgb(255, 165, 0),
        hsl(0, 0%, 0%) 20%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 166, 0, 0.473);
    animation: shine 5s infinite linear;
}

@keyframes shine {
    0% {
        background-position: 0;
    }
    60% {
        background-position: 700px;
    }
    100% {
        background-position: 100%;
    }
}

.section-home {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 150px;
    width: 100%;
}

.p-text-home {
    position: relative;
    color: white;
}

@media (max-width: 480px) {
    .h1-home {
        font-size: 25px;
        text-justify: distribute;
        text-align: center;
        padding: 30px;

    }

    .section-home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 30px;
    }

    @supports (-webkit-touch-callout: none) {
        .body-home {
            /* The hack for Safari */
            min-height: -webkit-fill-available;
            max-width: µ95vw;
        }
    }
}
