.h1-home{
    position: relative;
    color: white;
    border-radius: 5px;
    padding: 20px;
    font-size: 50px;
    color: hsl(0, 0%, 28%);
    font-size: 50px!important;
    font-weight: bold!important;
    font-family: monospace;
    letter-spacing: 7px!important;
    /* cursor: pointer; */
    text-transform: uppercase;
    padding: 64px;
    background: linear-gradient(to right, hsl(0, 0%, 0%) 0, orange, hsl(0, 0%, 0%) 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
  }

  @keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 700px;
    }
    100% {
      background-position: 100%;
    }
  }

.section-home{
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 150px;
}

p{
    position: relative;
    color: white;
  }