.container-projet {
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(81, 79, 79);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding: 20px;

    h1 {
        padding: 20px;
        font-size: 50px;
        font-weight: bold;
        font-family: monospace;
        letter-spacing: 7px;
        text-transform: uppercase;
        color: white;
    }
}

.btn-return-projet {
    position: absolute;
    left: 30px;
    width: 200px;
}

.section-projet {
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-x: hidden;
}
