.section-text-home{
    position: relative;
    height: 400px;
    max-height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.article-text-home{
    border: 1px Solid orange;
    padding: 30px;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.6); /* Modifier l'opacité selon vos préférences */    
    font-size: 1rem;
    width: 70%;

}

.h2-text-home{
    color: white;
    font-size: 2rem;
    text-align: start;
}

.p-text-home{
    margin-top: 20px;
    letter-spacing: 2px;
}