.section-text-home{
    position: relative;
    height: 400px;
    max-height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.article-text-home{
    border: 1px Solid orange;
    padding: 30px;
    backdrop-filter: blur(10px);
    font-size: 1.2rem;
    width: 70%;

}

.h2-text-home{
    color: white;
    font-size: 2rem;
    text-align: start;
}

.p-text-home{
    margin-top: 20px;
    letter-spacing: 2px;
}